<div class="row">
	<div class="col-xs-12">
		<h3>Artists <small>{{artists.total}} Results</small></h3>
		<hr>
	</div>
</div>
{{#if artists.total}}
	<div class="row">
		<div class="col-xs-12">
			<div class="list-group">
				{{#each artists.items}}
					<div class="list-group-item artist">
						<a class="selflink" href="http://isitonspotify.mshindal.com/#artist:{{encodeHash this.name}}">
							<h4 class="list-group-item-heading">
								{{this.name}}
							</h4>
						</a>
						<p class="list-group-item-text">
							Followers: {{this.followers.total}}<br>
							{{#if this.genres.length}}
								Genres: {{listGenresPretty this.genres}}<br>
							{{/if}}
							Popularity: {{this.popularity}}
						</p>
						<a href="{{this.uri}}" class="btn btn-default"><span class="glyphicon glyphicon-link"></span> Spotify</a>
					</div>
				{{/each}}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<nav>
				<ul class="pager"> 
					<li class="{{#unless artists.previous}}disabled{{/unless}}">
						<a href="#" id="previousArtists">Previous</a>
					</li>
					<li class="{{#unless artists.next}}disabled{{/unless}}">
						<a href="#" id="nextArtists">Next</a>
					</li>   
				</ul>
			</nav>
		</div>
	</div>
{{/if}}